---
title: Resume
layout: home
---

<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient py-3">
  <div class="container">

    <div class="row">
      <div class="col">
        <h1 class="display-4 text-center">JASON AGUDA</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
        {% capture label %}{{ site.data.bio.basics.website | remove: "http://" | remove: "https://" }}{% endcapture %}
        <p class="mb-1">{% include about/social.html url=url name='house' label=label %} </p>

        {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
        {% capture label %}{{ site.data.bio.basics.email }}{% endcapture %}
        <p class="mb-1">{% include about/social.html url=url name='envelope' label=label %}</p>

        {% for profile in site.data.bio.basics.profiles %}
          {% capture url %}{{ profile.url }}{% endcapture %}
          {% capture name %}{{ profile.network | downcase }}{% endcapture %}
          {% capture label %}{{ profile.username }}{% endcapture %}
          <p class="mb-1">{% include about/social.html url=url name=name label=label %}</p>
        {% endfor %}
      </div>
      <div class="col">
        <p class="mb-1 text-end">{{ site.data.bio.basics.location.address }}</p>
        <p class="mb-1 text-end">{{ site.data.bio.basics.location.city }}, {{ site.data.bio.basics.location.region }} {{ site.data.bio.basics.location.postalCode }} {{ site.data.bio.basics.location.countryCode }}</p>
        <p class="mb-1 text-end">{{ site.data.bio.basics.phone }}</p>
      </div>
    </div>

    <!-- Interests -->
    <div class="row pt-4 align-items-center">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Interests</h1>
      </div>
      <div class="col-lg-9">
        <p class="m-0">Computer Engineering, Software Development, Cybersecurity</p>
      </div>
    </div>

    <!-- Skills -->
    <div class="row pt-4 align-items-center">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Skills</h1>
      </div>
      <div class="col-lg-9">
        <p class="m-0">
          <b>Programming Languages:</b> C/C++, Python, JavaScript, HTML, CSS, MATLAB, Assembly<br>
          <b>Computer Aided Design:</b> Autodesk EAGLE, Vivado, JetBrains IDEs<br>
          <b>Other:</b> Object-Oriented Programming, Data Structures, Algorithm Design, User Experience Design, Functional Programming<br>
          <b>JS Frameworks:</b> React, Angular, Vue
        </p>
      </div>
    </div>

    <!-- Education -->
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Education</h1>
      </div>
      <div class="col-lg-9">
        <div class="row mb-3">
          <div class="col-9">
            <p class="m-0"><b>University of Hawai'i at Mānoa</b></p>
            <p class="m-0">M.S. - Computer Engineering</p>
            <ul>
              <li>Power Systems</li>
              <li>Electromagnetic Fields and Waves</li>
              <li>Systems and Signal Analysis</li>
              <li>Microelectronic Circuits I</li>
              <li>Object-Oriented Programming</li>
              <li>Digital Design</li>
              <li>Algorithms</li>
              <li>Network Security</li>
              <li>Computer Security</li>
            </ul>
          </div>
          <div class="col-3">
            <p class="m-0 text-end">May 2025</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Work Experience -->
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Work Experience</h1>
      </div>
      <div class="col-lg-9">
        <div class="row mb-3">
          <div class="col-9">
            <p class="mb-0"><b>WiFi Security Project</b></p>
            <p class="mb-0">Manoa, Hawaii</p>
            <p class="mb-0">Conducted vulnerability assessments on various systems and networks.</p>
            <p class="mb-0">Created detailed reports on findings from vulnerability assessments and penetration tests.</p>
            <p class="mb-0">Wrote new code and refactored old code based on specifications from project manager.</p>
          </div>
          <div class="col-3">
            <p class="m-0 text-end">January 2024 - May 2024</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-9">
            <p class="mb-0"><b>Network Security Project</b></p>
            <p class="mb-0">Manoa, Hawaii</p>
            <p class="mb-0">Conducted research on vulnerabilities in WPA2 network security.</p>
            <p class="mb-0">Practiced deauthentication attacks and password cracking techniques.</p>
            <p class="mb-0">Presented a poster presentation to evaluators.</p>
          </div>
          <div class="col-3">
            <p class="m-0 text-end">January 2024 - May 2024</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-9">
            <p class="mb-0"><b>Drone Programmer, Drone Simulator Project</b></p>
            <p class="mb-0">Manoa, Hawaii</p>
            <p class="mb-0">Utilized the ArduPilot Python library for mission planning, flight control, and data processing tasks.</p>
            <p class="mb-0">Helped coordinate smooth implementation and utilization of software and custom-built computer applications.</p>
          </div>
          <div class="col-3">
            <p class="m-0 text-end">August 2023 - December 2023</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-9">
            <p class="mb-0"><b>Apprentice Electrician, Smart Campus Energy Lab (SCEL)</b></p>
            <p class="mb-0">Manoa, Hawaii</p>
            <p class="mb-0">Designed a printable circuit board (PCB) with AutoDesk EAGLE using integrated sensor modules to occupy less surface area.</p>
            <p class="mb-0">Assembled electronic components onto printed circuit boards according to schematics.</p>
          </div>
          <div class="col-3">
            <p class="m-0 text-end">January 2023 - May 2023</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
